<section class="overflow-hidden">
    <div class="container-full">
        <div class="row g-0">
            <div class="col-md-6">
                <a href="{{backLink}}" class="card equal-lg-2-1 bg-opaque-blueSteel">
                    <div class="card-wrap">
                        <div class="card-footer my-auto">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-auto"><i class="bi bi-arrow-left fs-3"></i></div>
                                <div class="col col-xl-6">
                                    <h3 class="card-title add-semi-colon-to-end">{{backTitle}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{forwardLink}}" class="card equal-lg-2-1 bg-opaque-blueSteel">
                    <div class="card-wrap">
                        <div class="card-footer my-auto text-end">
                            <div class="row justify-content-center align-items-center">
                                <div class="col col-xl-6">
                                    <h3 class="card-title add-semi-colon-to-end">{{forwardTitle}}</h3>
                                </div>
                                <div class="col-auto"><i class="bi bi-arrow-right fs-3"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>