<style>
    body,
    html {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }

    .carousel-container {
        overflow: hidden;
        width: 100vw;
    }

    .carousel {
        height: 100vh;
        display: flex;
        overflow: hidden;
        width: 100vw;
    }

    .slide {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
</style>