<section class="py-15 py-xl-20 bg-opaque-blueSteel">
    <div class="container foreground">
        <div class="row justify-content-center mb-8 mb-lg-10">
            <div class="col-lg-6 text-center">
                <h2 class="fw-bold">What we've <span class="highlight" data-aos="slide-right">done</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="accordion accordion-minimal accordion-highlight" id="accordion-2">
                    <div class="accordion-item" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-1">
                            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-1" aria-expanded="true" aria-controls="collapse-2-1">
                                Integrating AI for Customer Service
                            </button>
                        </h2>
                        <div id="collapse-2-1" class="accordion-collapse collapse show" aria-labelledby="heading-2-1"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary">Client: A Leading Property Developer</p>
                                        <p class="lead mb-xl-4">
                                            We introduced an AI-powered chatbot and automation system for a leading
                                            property developer,
                                            handling routine queries and data entry. This reduced response times by 50%
                                            and increased
                                            customer satisfaction, enabling the client to focus on growth.
                                        </p>

                                    </div>
                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/gb-case-1.jpg')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-8" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-2">
                            <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                Enhancing Data Analytics
                            </button>
                        </h2>
                        <div id="collapse-2-2" class="accordion-collapse collapse" aria-labelledby="heading-2-2"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">

                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary">Client: A National Asset Management
                                            Company</p>
                                        <p class="lead mb-xl-4">
                                            By implementing advanced data analytics tools and custom dashboards, we
                                            helped a national asset
                                            management company improve decision-making speed and accuracy by 30%. This
                                            allowed for more
                                            strategic investments and better resource allocation.
                                        </p>
                                    </div>

                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/gb-case-2.jpg')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-8" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-3">
                            <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                                Transforming Property Management
                            </button>
                        </h2>
                        <div id="collapse-2-3" class="accordion-collapse collapse" aria-labelledby="heading-2-3"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary">Client: A Leading Housing Association
                                        </p>
                                        <p class="lead mb-xl-4">
                                            We developed a bespoke property management platform for a leading housing
                                            association,
                                            streamlining operations and integrating with existing systems. This resulted
                                            in a 40% increase
                                            in operational efficiency, reduced costs, and improved tenant satisfaction.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/gb-case-3.jpg')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-8" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-4">
                            <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-4">
                                Streamlining Risk Management
                            </button>
                        </h2>
                        <div id="collapse-2-4" class="accordion-collapse collapse" aria-labelledby="heading-2-4"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary">Client: A Property Risk Management Firm
                                        </p>
                                        <p class="lead mb-xl-4">
                                            We developed a custom risk management application for a property risk
                                            management firm,
                                            automating data collection and analysis. This cut down risk assessment time
                                            by 60%, enhanced
                                            accuracy, and allowed the firm to take on more clients efficiently.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/gb-case-4.jpg')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center justify-content-center mt-10" data-aos="fade-up">
            <a href="/casestudies.html" class="btn btn-teal btn-with-icon rounded-pill btn-lg" >
                Discover more <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>