<section class="py-15 py-xl-20 bg-opaque-blueSteel">
    <div class="container foreground">
        <div class="row justify-content-center mb-8 mb-lg-10">
            <div class="col-lg-6 text-center">
                <h2 class="fw-bold">What we've <span class="highlight" data-aos="slide-right">done</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="accordion accordion-minimal accordion-highlight" id="accordion-2">
                    <div class="accordion-item" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-1">
                            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-1" aria-expanded="true" aria-controls="collapse-2-1">
                                Streamlining Supplier Management
                            </button>
                        </h2>
                        <div id="collapse-2-1" class="accordion-collapse collapse show" aria-labelledby="heading-2-1"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary no-text-indent no-text-indent">Client: JM2 Group</p>
                                        <p class="lead mb-xl-4">
                                            We built a supplier database and automated communication for JM2 Group,
                                            enhancing their efficiency in managing subcontractors. This allowed them to
                                            scale from handling 10 jobs a day to 100 jobs without additional
                                            administrative staff, significantly improving their operations and setting
                                            the stage for future growth.
                                        </p>

                                    </div>
                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/partners/jm2.png')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-8" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-2">
                            <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                Enhancing Workflow Management
                            </button>
                        </h2>
                        <div id="collapse-2-2" class="accordion-collapse collapse" aria-labelledby="heading-2-2"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">

                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary no-text-indent">Client: Consult Construct</p>
                                        <p class="lead mb-xl-4">
                                            We replaced Consult Construct’s outdated document management system with a
                                            custom no-code intranet and workflow management system. This streamlined
                                            their document consistency and workflow efficiency, enabling fast access to
                                            templates, reducing lost documents, and enhancing overall productivity.
                                        </p>
                                    </div>

                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/partners/consultconstruct.png')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-8" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-3">
                            <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                                Automating Land Acquisition
                            </button>
                        </h2>
                        <div id="collapse-2-3" class="accordion-collapse collapse" aria-labelledby="heading-2-3"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary no-text-indent">Client: Virgin Land
                                        </p>
                                        <p class="lead mb-xl-4">
                                            We implemented a phased plan using off-the-shelf tools and later
                                            custom-built systems to automate Virgin Land’s land acquisition process.
                                            This agile approach allowed them to secure angel investment and eventually
                                            get acquired, preparing them for Series A funding and future innovations in
                                            machine learning.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/partners/virginland.jpg')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-8" data-aos="fade-up">
                        <h2 class="accordion-header" id="heading-2-4">
                            <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-4">
                                Leveraging AI for Data Enrichment
                            </button>
                        </h2>
                        <div id="collapse-2-4" class="accordion-collapse collapse" aria-labelledby="heading-2-4"
                            data-bs-parent="#accordion-2">
                            <div class="accordion-body">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                        <p class="list-unstyled text-secondary no-text-indent">Client: Frankham Group
                                        </p>
                                        <p class="lead mb-xl-4">
                                            We utilized AI to extract and enrich contact data from email systems for
                                            Frankham Group, integrating this data into their new CRM system. This added
                                            over £2 million to their sales pipeline, demonstrating the transformative
                                            potential of AI in enhancing client relationships and driving business
                                            growth.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 position-relative" data-aos="fade-up">
                                        <div class="col-lg-8 position-relative">
                                            <div class="custom-figure">
                                                <figure class="end-0 equal-1-1 rounded-circle"
                                                    style="background-image: url('./assets/images/custom/partners/frankham.png')">
                                                </figure>
                                            </div>
                                            <img class="position-absolute bottom-0 end-0 rotate"
                                                src="./assets/images/svg/featured-small.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center justify-content-center mt-10" data-aos="fade-up">
            <a href="/casestudies.html" class="btn btn-teal btn-with-icon rounded-pill btn-lg">
                Discover more <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>