<section class="py-15 py-xl-20 bg-opaque-blueSteel">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <h2 class="mb-6">Tech not working?<br><span class="fw-bold"><span class="highlight"
                data-aos="slide-right">Let's talk</span></span></h2>
          <div class="row g-3">
            <div class="col-md-6" data-aos="fade-up">
              <label for="yourName" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="yourName" placeholder="Name">
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <label for="yourEmail" class="form-label">Your Email</label>
              <input type="text" class="form-control" id="yourEmail" placeholder="Email">
            </div>
            <div class="col-md-12" data-aos="fade-up">
              <label for="yourMessage" class="form-label">Message</label>
              <textarea class="form-control" id="yourMessage" rows="6" placeholder="Message"></textarea>
            </div>
            <div class="col-md-8 mt-4" data-aos="fade-up">
              <a href="" class="btn btn-lg btn-teal btn-with-icon rounded-pill">Let's talk <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>