<section class="border-bottom">
    <div class="container">
        <div class="carousel carousel-align text-center">
            <div
                data-carousel='{"loop": true, "autoplay": true, "rewind": false, "mouseDrag": true, "autoplayTimeout": 2000, "autoplayButtonOutput": false, "speed": 2000, "nav": false, "controls": false, "responsive": {"0": {"items": 2}, "768": {"items": 4}, "1200": {"items": 5}}}'>
                <div>
                    <img src="/images/custom/logos/3.png" alt="Logo" class="logo">
                </div>
                <div>
                    <img src="/images/custom/logos/4.png" alt="Logo" class="logo">
                </div>
                <div>
                    <img src="/images/custom/logos/5.png" alt="Logo" class="logo">
                </div>
                <div>
                    <img src="/images/custom/logos/6.png" alt="Logo" class="logo">
                </div>
                <div>
                    <img src="/images/custom/logos/7.png" alt="Logo" class="logo">
                </div>
                <div>
                    <img src="/images/custom/logos/8.png" alt="Logo" class="logo">
                </div>
                <div>
                    <img src="/images/custom/logos/9.png" alt="Logo" class="logo">
                </div>
            </div>
        </div>
    </div>
</section>