<footer class="py-15 py-xl-20 bg-darkblue inverted">
  <div class="container">


    <!-- First Row -->
    <div class="row g-4 g-lg-5 mb-10">
      <div class="col-md-3 text-center text-md-start">
        <a href="{{root}}/" class="navbar-brand"><img src="{{root}}/assets/images/logo/logo-light.svg" alt="Logo"></a>
      </div>
      <div class="col-md-4 col-lg-5 text-center text-md-start pt-4 pt-md-0">
        <ul class="list-unstyled">
          <li class="mb-1"><a href="/about" class="text-reset text-teal-hover">About</a></li>
          <li class="mb-1"><a href="/how" class="text-reset text-teal-hover">How we work</a></li>
          <li class="mb-1"><a href="/technology" class="text-reset text-teal-hover">Technology</a></li>
          <li class="mb-1"><a href="/casestudies" class="text-reset text-teal-hover">Case Studies</a></li>
          <li><a href="/contact" class="text-reset text-teal-hover">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="grouped-inputs border p-1 rounded-pill">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control rounded-pill px-3" aria-label="Text input"
                placeholder="Your email">
            </div>
            <div class="col-auto">
              <a href="" class="btn btn-white btn-icon rounded-circle"><i class="bi bi-arrow-return-left"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row align-items-center g-1 g-lg-6 text-muted">
      <div class="col-md-6 col-lg-3 order-lg-2 text-center text-md-start">
        <p class="small">Copyrights © 2024</p>
      </div>
      <div class="col-md-6 col-lg-3 order-lg-2 text-center text-md-start">
        <p class="small">Website created by Pumpy</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center text-md-end order-lg-3 pt-4 pt-md-0">
        <ul class="list-inline small">
          <li class="list-inline-item">
            <a href="" class="text-reset"><i class="bi bi-github fs-5 text-white text-teal-hover"></i></a>
          </li>
          <li class="list-inline-item ms-6">
            <a href="" class="text-reset"><i class="bi bi-twitter fs-5 text-white text-teal-hover"></i></a>
          </li>
          <li class="list-inline-item ms-6">
            <a href="" class="text-reset"><i class="bi bi-linkedin fs-5 text-white text-teal-hover"></i></a>
          </li>
        </ul>
      </div>
      
      <div class="col-lg-3 order-lg-1 text-center text-md-start pt-4 pt-md-0">
        <img class="w-75" src="./assets/images/custom/logos/partners.png" alt="Logo">
      </div>
    </div>


  </div>
</footer>